---
title: Kids Academy
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Codificando sonhos!</h2>
		<p class="subtext editable">Ajudamos jovens a aprender programação através de mentorias, de uma comunidade de apoio e do incentivo ao desenvolvimento de soluções reais para problemas do universo dos alunos. Tudo sem custo algum.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Quero ser aluno!</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Projetos</h3>
			<p class="editable">Os alunos desenvolvem projetos práticos desde os conceitos mais básicos, resolvendo problemas reais e de interesse deles.</p>
			<p class="editable"><a href="{{ site.baseurl }}/projetos/">Veja mais &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for projeto in site.projetos limit: 4 %}
					<li><a href="{{ projeto.repositorio }}" target="_blank"><img alt="Imagem do Projeto: {{projeto.nome}}" src="{% include relative-src.html src=projeto.imagem %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img alt="Imagem com vários retratos, simbolizando diversidade." src="{{ site.baseurl }}/images/pessoas.jpg"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Diversidade e Inclusão</h3>
			<p class="editable">O projeto é inteiramente gratuito e com ele queremos levar o ensino técnologico aonde ainda existem barreiras!</p>
			<p class="editable"><a href="https://github.com/kidsacademydev/conduta">Código de Conduta &rarr;</a></p>
		</div>
	</div>
</section>
